#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        // This is a sample keymap intended to be replaced with your own

        Base {
            bindings = <
&kp J      &kp O       &kp U                &kp SQT           &kp Q          &kp F      &kp D        &kp L        &kp B  &kp G
&kp E      &kp A       &kp I                &kp N             &kp X          &kp Y      &kp H        &kp T        &kp S  &kp C
&kp SLASH  &kp PERIOD  &kp COMMA            &kp Z             &kp SEMICOLON  &kp K      &kp P        &kp M        &kp V  &kp W
                       &mt LEFT_GUI ESCAPE  &mt LEFT_SHIFT R  &kp BACKSPACE  &lt 3 TAB  &lt 1 SPACE  &lt 2 ENTER
            >;
        };

        Num {
            bindings = <
&kp GRAVE     &kp PLUS      &kp EQUAL  &kp LEFT_BRACKET  &kp RBKT  &kp F1   &kp F2   &kp F3  &kp F4  &kp F5
&kp NUMBER_1  &kp N2        &kp N3     &kp N4            &kp N5    &kp F6   &kp F7   &kp F8  &kp F9  &kp F10
&kp NUMBER_6  &kp NUMBER_7  &kp N8     &kp N9            &kp N0    &kp F11  &kp F12  &trans  &trans  &kp BACKSLASH
                            &trans     &trans            &trans    &trans   &trans   &trans
            >;
        };

        Mods {
            bindings = <
&trans        &trans        &trans            &trans          &trans  &trans  &trans  &trans  &trans  &kp DELETE
&sk LEFT_GUI  &sk LEFT_ALT  &sk LEFT_CONTROL  &sk LEFT_SHIFT  &trans  &trans  &trans  &trans  &trans  &trans
&trans        &trans        &trans            &trans          &trans  &trans  &trans  &trans  &trans  &trans
                            &trans            &trans          &trans  &trans  &trans  &trans
            >;
        };

        Nav {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &kp K_MUTE         &kp C_BRIGHTNESS_INC  &kp C_BRIGHTNESS_DEC  &kp C_PAUSE    &sys_reset
&trans  &trans  &trans  &trans  &trans  &kp C_VOLUME_UP    &kp LEFT              &kp UP_ARROW          &kp RIGHT      &kp HOME
&trans  &trans  &trans  &trans  &trans  &kp C_VOLUME_DOWN  &kp PAGE_UP           &kp DOWN              &kp PAGE_DOWN  &kp END
                &trans  &trans  &trans  &trans             &trans                &trans
            >;
        };
    };
};
